/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

.SiteContainer {
  height: 17rem;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: 20%;
}

/* Header and Feature Image */

.MobileNavbar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  height: 1.5rem;
}

span {
  font-size: 1rem;
  color: white;
}

.Catchphrase {
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/* Services */

/* Philosophy */

/* Appointments */

/* Footer */

/* Media Queries */
